.barranave{
	background: #66CDAA;
}
body{
	
}

#fondo { 
background: url(../img/fondo-modificado.jpg) no-repeat center center fixed; 
background-size: cover;
height: 100%;
}
#carta-frontal{
	top: 50%;
  width: 80%;
  margin-top: 150px;
}
.texto-titulo{
	margin-left: 10%;
}
.texto-titulo h1{
  color: #fff;
  margin-left: 15%;
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 30px;
  text-shadow: 2px 2px #000000;
}
.texto-titulo p{
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  text-shadow: none;
}
.registrate h1{
  color: #686868;
  text-align: center;	
  font-size: 30px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.registrate p{
  text-align: center;	
  font-size: 10px;
  line-height: 20px;
}

.front-signin{
	border: 1px solid #e1e8ed;
	background: white;
	border-radius: 15px;
	padding: 10px;
}
.fa{
	background-image:url(../img/fb-logo.jpg) no-repeat center;
}