.barranave{
	background: #66CDAA;
}
body{
	
}

#fondo { 
background: url(../img/fondo-modificado.jpg) no-repeat center center fixed; 
background-size: cover;
height: 100%;
padding-top: 100px;
padding-bottom: 150px;
background-attachment: fixed;
}
#carta-frontal{
	top: 50%;
  width: 90%;
  margin-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.texto-titulo{
	margin-left: 10%;
}
.texto-titulo h1{
  color: #fff;
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 30px;
  text-shadow: 2px 2px #000000;
}
.texto-titulo p{
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  text-shadow: none;
}
.registrate h1{
  color: #686868;
  text-align: center;	
  font-size: 30px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.registrate p{
  text-align: center;	
  font-size: 10px;
  line-height: 20px;
}

.front-signin{
	border: 1px solid #e1e8ed;
	background: white;
	border-radius: 15px;
	padding: 10px;
}
button i img{
	width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}